@font-face {
	font-family: 'micro2';
	src:url('fonts/micro2.eot?-edtmpr');
	src:url('fonts/micro2.eot?#iefix-edtmpr') format('embedded-opentype'),
		url('fonts/micro2.woff?-edtmpr') format('woff'),
		url('fonts/micro2.ttf?-edtmpr') format('truetype'),
		url('fonts/micro2.svg?-edtmpr#micro2') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="micro2-"], [class*=" micro2-"] {
	font-family: 'micro2';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.micro2-hand-o-up:before {
	content: "\f0a6";
}
