@font-face {
	font-family: 'micro';
	src:url('fonts/micro.eot?ww4f3t');
	src:url('fonts/micro.eot?#iefixww4f3t') format('embedded-opentype'),
		url('fonts/micro.woff?ww4f3t') format('woff'),
		url('fonts/micro.ttf?ww4f3t') format('truetype'),
		url('fonts/micro.svg?ww4f3t#micro') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="micro-"], [class*=" micro-"] {
	font-family: 'micro';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.micro-uniF478:before {
	content: "\e600";
}
.micro-uniF479:before {
	content: "\e601";
}
.micro-uniF47A:before {
	content: "\e602";
}
.micro-uniF47B:before {
	content: "\e603";
}
.micro-down:before {
	content: "\e604";
}
.micro-downleft:before {
	content: "\e605";
}
.micro-downright:before {
	content: "\e606";
}
.micro-up:before {
	content: "\e607";
}
.micro-upleft:before {
	content: "\e608";
}
.micro-upright:before {
	content: "\e609";
}
.micro-right:before {
	content: "\e60a";
}
.micro-left:before {
	content: "\e60b";
}
.micro-forbidden2:before {
	content: "\e60c";
}
.micro-alert:before {
	content: "\e60d";
}
.micro-asterisk2:before {
	content: "\e60e";
}
